/* css styles */
.centerH2 h2 {
  text-align: center;
}

.centerH3 h3 {
  text-align: center;
}

.centerH4 h4 {
  text-align: center;
}

.centerText {
  text-align: center;
}

.centerCell {
  text-align: center;
  vertical-align: middle;
}

